body {
	background: #000000 !important;
	color: #ffffff;
}


.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.navbar {
	padding-left: 10% !important;
	padding-right: 10% !important;
	color:white;
}

.logo {
	width: 500px;
    margin: auto;
    display: block;
}


.hometext {
	text-align: center;
	color: white;
}

.form-group {
	color: white !important; 
}

.form-control {
	text-align: center;
	align-items: center;
}

.textMute {
	color: rgb(255, 0, 0);
	opacity: 50%;
}
/* 
.custom-form-control {
	

	width: 300px !important;
} */

.smallLogo {
	width: 200px;
}

.movie-app {
	color:white;
	text-align: center;
	align-items: center ; 
	
	
}

.movieDetails {
	list-style: none;
}