body {
	background: #000000 !important;
	color: #ffffff;
}


.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.navbar {
	padding-left: 10% !important;
	padding-right: 10% !important;
	color:white;
}

.logo {
	width: 500px;
    margin: auto;
    display: block;
}


.hometext {
	text-align: center;
	color: white;
}

.form-group {
	color: white !important; 
}

.form-control {
	text-align: center;
	align-items: center;
}

.textMute {
	color: rgb(255, 0, 0);
	opacity: 50%;
}
/* 
.custom-form-control {
	

	width: 300px !important;
} */

.smallLogo {
	width: 200px;
}

.movie-app {
	color:white;
	/* text-align: center;
	align-items: center ;  */
	
	
}

.center-container {
	display: flex;
	justify-content: space-between;
  }
  
  .movie-details {
	text-align: left;
	border: 2px solid #ccc;
	padding: 10px;
	margin-right: 20px; /* Add margin to the right side */
  }
  
  .movie-trailer {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #ccc;
	padding: 10px;
  }

 /* .movie-trailer {
	display: inline-block;
	vertical-align: top;
	border: 2px solid #ccc;
	padding: 10px;
	margin-left: 20px;
	margin-top: 20px; 
  }
    */
  /* .movie-trailer iframe {
	width: 100%; /* Make the iframe fill the container */
  
  
  .overview {
	max-width: 500px;
	margin: 0 auto; /* Center the overview within the available space */
  }
  

  .embed-responsive {
	margin-top: 200px; /* Adjust the margin-top as needed to lower the trailer */
  }


  .background-container {
	position: relative;
	background-image: url('../public/imgs//Directors-Slat.png');
	background-size: 15%; 
	background-position: bottom 50px right 100px;
	background-repeat: no-repeat;
  }


  .reviews-container {
    background-image: url('../public/imgs/Light.png');
	background-size: 15%; 

	background-repeat: no-repeat;
}





